/* Seccion de fuentes */
*,
*::after,
*::before {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(169, 184, 231);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

@media (max-width: 360px) {
  
  h1{
    font-size: 18px;
  }

  h2{
    font-size: 15px;
  }

  h3{
    font-size: 15px;
  }

  p{
    font-size: 12px;
  }
  
  a{
    font-size: 9px;
  }
}
h1 {
  font-weight: bold;

}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* sección principal estilos de secciones */

.texto-web{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(183,208,255,1) 20%);
  padding: 30px;
  flex-direction: column;
  text-align: center;
}


.quien-soy{
  padding: 30px;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(183,208,255,1) 20%);
  position: relative;
  right: 130px;
  clip-path: circle(0%);
  opacity: 0;
  transition: .3s ease all;
}

.escribo-música{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(183,208,255,1) 20%);
  
  padding: 30px;
  flex-direction: column;
  text-align: center;
  position: relative;
  right: 130px;
  clip-path: circle(0%);
  opacity: 0;
  transition: .3s ease all;
}
.algunas-canciones{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(183,208,255,1) 20%);
  
  padding: 30px;
  flex-direction: column;
  text-align: center;
  position: relative;
  clip-path: circle(0% at 50% 0);
  bottom: 40px;
  opacity: 0;
  transition: .3s ease all;
}

.seccion{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(183,208,255,1) 40%);
  padding: 30px;
  flex-direction: column;
  text-align: center;
}


.seccion2{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(183,208,255,1) 40%);
  padding: 30px;
  flex-direction: column;
  text-align: center;
}

.seccion3{
  background: rgba(183,208,255);
  padding: 30px;
  flex-direction: column;
  text-align: center;
}

@media(max-width: 360px){
  .texto-web{
    padding: 15px;
  }

  .quien-soy{
    padding: 15px;
  }

  .escribo-música{
    padding: 15px;
  }

  .algunas-canciones{
    padding: 15px;
  }
}

.contenedor {
  max-width: 60%;
  margin: 0 auto;
}

@media (max-width: 360px){
  .contenedor {
    max-width: 100%;
  }
}

/* Cabecera */

.myd-joly{
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px;
  transition: .3s ease-in-out all;
  box-shadow: 4px 4px 15px rgb(72, 78, 99) ;
}

.myd-joly h2 {
  text-transform: uppercase;
  font-weight: lighter;
}

.myd-joly a:hover {
  color: rgb(212, 214, 111);
  cursor: pointer;
}

.logo-canal img {
  width: 100px;
  
}

@media (max-width: 360px){
  .logo-canal img{
    width: 50px;
  }

  .myd-joly{
    box-shadow: 2px 2px 10px rgb(72, 78, 99) ;
  }
}

/* Seccion del IFRAME */
.iframe-contenedor {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 20px;
}

.iframe-contenedor iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Seccion de GRIDS */

.grid-body {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

@media (max-width: 360px){
  .grid-body{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
  }
  
}

.EP{
  grid-column-start: 1;
  grid-column-end: 7;
}

.a-solas{
  grid-column-start: 1;
  grid-column-end: 3;
}

.mar-azul{
  grid-column-start: 3;
  grid-column-end: 5;
}

.que-pienso-de-ti{
  grid-column-start: 5;
  grid-column-end: 7;
}

.otra-vez-cayendo{
  grid-column-start: 1;
  grid-column-end: 4;
}

.que-se-vaya{
  grid-column-start: 4;
  grid-column-end: 7;
}

@media (max-width: 360px){
  .EP{
    grid-column-start: 1;
    grid-column-end: 10;
  }
  
  .a-solas{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  .mar-azul{
    grid-column-start: 5;
    grid-column-end: 10;
  }
  
  .que-pienso-de-ti{
    grid-column-start: 1;
    grid-column-end: 10;
  }
  
  .otra-vez-cayendo{
    grid-column-start: 1;
    grid-column-end: 6;
  }
  
  .que-se-vaya{
    grid-column-start: 6;
    grid-column-end: 10;
  }
}

.secciones:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.secciones:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.secciones:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
}

.secciones:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 7;
}

@media (max-width: 768px){
  
  .secciones:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 10;
  }
  
  .secciones:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 10;
  }
  
  .secciones:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 10;
  }
  
  .secciones:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 10;
  }
}

/* BOTONES */

.btn-mimusica h2{
  color: aliceblue;
  display: inline-block;
  background-color: rgb(34, 34, 34);
  width: 180px;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  transition: .3s ease-in-out all;
}

.btn-mimusica:hover h2 {
  background-color:rgb(147, 148, 87);
}


label{
  background-color: rgb(34, 34, 34);
  border: none;
  padding: 8px;
  transition: .3s ease all;
  cursor: pointer;
  border-radius: 4px;
}

label span{
  color: white;
  position: relative;
  top: 6px;
  left: 1px;
}

@media (max-width: 360px){

.material-symbols-outlined{
  font-size: 18px;
  }

  label span{
    top: 3px;
    left: 2px;
  }

  label{
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

label:hover {
  background-color: rgb(106, 141, 255);
}

#btn-siguiente{
  margin: 0;
  display: none;
}

#btn-siguiente:checked ~ .quien-soy{
  clip-path: circle(100%);
  opacity: 1;
  right: 0;
} 

#btn-siguiente2{
  margin: 0;
  display: none;
}
#btn-siguiente2:checked ~ .escribo-música{
  clip-path: circle(100%);
  opacity: 1;
  right: 0;
} 

#btn-siguiente3{
  margin: 0;
  display: none;
}

#btn-siguiente3:checked ~ .algunas-canciones{
  clip-path: circle(100%);
  opacity: 1;
  bottom: 0;
}

.btn-atras{
  background-color: transparent;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  display: block;
}


.seccion2 a, .seccion3 a{
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: beige;
  border-radius: 7px;
  cursor: pointer;
}

.seccion2 a:hover{
  background-color: rgb(207, 207, 187);
}

.seccion3 a:hover{
  background-color: rgb(207, 207, 187);
}

@media (max-width: 360px){
  .btn-atras{
    margin-top: 5px;
  }
}

/* Sección de las canciones */

.cancion{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: (3, 1fr);
  gap: 15px;
}

.cancion #a-solas-letra{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cancion #mar-azul-letra{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cancion #que-pienso-de-ti-letra{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cancion #otra-vez-cayendo-letra{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cancion #que-se-vaya-letra{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.cancion audio{
  grid-column-start: 2;
  grid-column-end: 3;
}

.cancion h1{
  margin-left: 10px;
}

#a-solas-letra{
  font-size: large;
  width: 500px;
}

#mar-azul-letra{
  font-size: large;
  width: 500px;
}

#que-pienso-de-ti-letra{
  font-size: large;
  width: 500px;
}

#otra-vez-cayendo-letra{
  font-size: large;
  width: 500px;
}

#que-se-vaya-letra{
  font-size: large;
  width: 500px;
}

.coro{
  color: orange;
  font-weight: bold;
}

.estrofa{
  color: rgb(58, 118, 136);
}

.cancion audio{
  margin-top: 29.050px;
  margin-left: auto;
  margin-right: auto;
}

.explicacion{
  text-align: center;
}

@media (max-width: 1100px) {
  #mar-azul-letra{
    font-size: large;
    width: 350px;
  }

  #a-solas-letra{
    font-size: large;
    width: 300px;
  }

  #que-pienso-de-ti-letra{
    font-size: large;
    width: 300px;
  }

  #otra-vez-cayendo-letra{
    font-size: large;
    width: 300px;
  }

  #que-se-vaya-letra{
    font-size: large;
    width: 300px;
  }
}

@media (max-width: 900px){
  #a-solas-letra{
    text-align: center;
    font-size: large;
    width: 300px;
  }

 #mar-azul-letra{
    text-align: center;
    font-size: large;
    width: 300px;
  }

  #que-pienso-de-ti-letra{
    text-align: center;
    font-size: large;
    width: 300px;
  }

  #otra-vez-cayendo-letra{
    text-align: center;
    font-size: large;
    width: 300px;
  }

  #que-se-vaya-letra{
    text-align: center;
    font-size: large;
    width: 300px;
  }

  .cancion #a-solas-letra{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cancion #mar-azul-letra{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cancion #que-pienso-de-ti-letra{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cancion #otra-vez-cayendo-letra{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cancion #que-se-vaya-letra{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cancion audio{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .explicacion{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.imagen-de-cancion img{
  width: 300px;
}

@media (max-width: 360px){
  .cancion{
    margin-top: 10px;
    margin-bottom: 0;
  }
}